* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
 	width: 100%;
}

body {
	height: 100%;
 	width: 100%;
  min-height: 100%;
}


header {
  width: 100%;
  height: 10%;
	background-color: #000;
  display: flex;
}

main { 
  width: 70%;
  height: 90%;
  display: flex;
  background-color: white;
  overflow: auto;
  position: relative;
  flex-direction: column;
}

aside {
  width: 30%;
  height: 90%;
  float: left;
  background-color: grey;
}

.search {
  margin-left: 10%;
  width: 80%;
  margin-right:auto;
  margin-top: 5%;
}

.search > input {
  margin-bottom: 2%;
  width: 100%;
}

form {
  height: 90%;
}

input[type="checkbox"] + div {
  display:absolute;
  background-color: green;
  width: 100%;
  height: 100%;
  text-align: center;
}

input[type="checkbox"]:checked + div {
  background-color: blue; 
}

.genre {
  float:left;
  width: 30%;
  height: 30%;
}

.genre_main {
  width: 100%;
  height: 40%;
}

.records {
  width:42vw;
  height:42vw;
  margin-left: 20%;
  margin-top: 10%;
  background-size: 100% 100%;
  display: block;
  box-shadow: 5px 5px 5px #7C7C7C;
  border-style: solid;
  border-color: black;
  flex-shrink: 0;
}

.info {
  width: 100%;
  margin-top: 70%;
  height: 30%;
  display: block;
  position: relative;
}

.bckgrnd {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 2);
  z-index: 3;
}

.info > p {
  opacity: 1;
  color: : #ffffff;
  position: absolute;
  text-decoration: none;
  z-index: 4;
  
}

.info > p > h2{
  opacity: 1;
  color: : #ffffff;
  position:absolute;
  text-decoration: none;
}


.info > p > h3{
  opacity: 1;
  color: : #ffffff;
  position:absolute;
 text-decoration: none;
  
}

.logo { 
    width: 30%;
    height: 100%;
    display: block;
    margin-left: 35%;
}


.search-icon {
  align-self: center;
	width: 7%;
	height: 70%;
	float: left;
	background-color: grey;
	display: none;
	margin-left: 2%;
	border-radius: 20%;
  box-shadow: 3px 3px 3px #7C7C7C;
}

.user-icon {
  width: 7%;
  height: 70%;
  float: left;
  background-color: grey;
  align-self: center;
  display: none;
  margin-right: 2%;
  border-radius: 20%;
  box-shadow: 3px 3px 3px #7C7C7C;
}



@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
  main { 
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 50%;
    margin-left: 16%;
    margin-right: 16%;
  }

  .user-icon:active {
    display: block;
    box-shadow: 3px 3px 3px #000;
    transform:translate(1px,1px);
  }

  .search-icon {
		display: block;
	}

  .user-icon {
    display: block;
    margin-right: 2%;
  }

  .search-icon:active {
    display: block;
    box-shadow: 3px 3px 3px #000;
    transform:translate(1px,1px);
  }

  aside {
    /*display: none;*/
    
    position: absolute;
    width: 70%;
    z-index: 1;
  }

  .records {
    width:70vw;
    height:70vw;
    margin-left: 15%;
    margin-top: 10%;
  }


}


  



